body {
    margin: 0;
}

.container{
    display: flex;
}

.coluna{
    flex: 1;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    min-width: 0;
    overflow-wrap: anywhere;
}